<div class="card mb-5">
    <div class="card-header"  style="background-color:plum;">
        <h4 class="card-title"><a class="text-light" href="/story/{{id}}">{{title}}</a></h4>
        <h6 class="mb-2 text-light">by {{user.username}}</h6>
    </div>
    <div class="card-body">
        <p class="card-text">{{content}}</p>
    </div>
</div>