{{! bootstrap static (cannot click out of) modal }}
{{! <div
  class='modal fade'
  id='staticBackdrop'
  data-bs-backdrop='static'
  data-bs-keyboard='false'
  tabindex='-1'
  aria-labelledby='staticBackdropLabel'
  aria-hidden='true'
>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h1 class='modal-title fs-5' id='staticBackdropLabel'>Modal title</h1>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        ...
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-secondary'
          data-bs-dismiss='modal'
        >Close</button>
        <button type='button' class='btn btn-primary'>Understood</button>
      </div>
    </div>
  </div>
</div> }}

<!-- Modal (can click out of) -->
<div>
  <button
    type='button'
    class='btn btn-primary'
    style='background-color: hotpink'
    data-bs-toggle='modal'
    data-bs-target='#myModal'>
    begin a new adventure!
  </button>
  <!-- Modal (can click out of) -->
  <div
    class='modal fade'
    id='myModal'
    tabindex='-1'
    aria-labelledby='startNewStory'
    aria-hidden='true'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h1 class='modal-title fs-5' id='startNewStory'>
            start a new adventure!
          </h1>

          <button
            type='button'
            class='btn-close'
            data-bs-dismiss='modal'
            aria-label='Close'>
          </button>
        </div>
        <div class='modal-body'>
          <form id='start-story'>
            <label for='story-title'>name your adventure!</label>
            <input type='text' name='story-title' id='story-title' />
            <!-- future dev - allow user to add characters -->
            <!-- <label for="characters">Provide Character Name:</label>
              <input type="text" name="characters" id="characters" /> -->
          
        </div>
        <div class='modal-footer'>
          <button
            type='button'
            class='btn btn-secondary'
            data-bs-dismiss='modal'>
            Close
          </button>
          <button type='submit' id='save-begin' class='btn btn-primary'>save/start</button>
        </div>
      </div></form>
    </div>
  </div>
  <script
    src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL'
    crossorigin='anonymous'></script>
  <script src='js/start.js'></script>
</div>