<div id='story-list'>
  <h4 class="text-light">saved adventures</h4>
  {{! use cards here? }}
  {{#if storylines.length}}
    {{#each storylines}}
      <a
        class='btn btn-primary btn-sm text-light'
        style='background-color:pink;'
        role='button'
        href='/storyline/{{id}}'
        id='{{id}}'
        {{!-- href='/storyline/{{this.story_id}}' --}}
      >{{this.title}}</a>
      {{! future dev: include user description or auto descript? OR have a drop down that shows the current storyline contents }}
    {{/each}}
    {{! <script src='js/saved_story.js'></script> }}
  {{/if}}
</div>