<section>	
  <div>	
    <h3 class="text-left text-light">{{username}}'s dashboard</h3>	
  </div>	
  <div>	
    {{>new-story}}	
  </div>	
  <div>	
    {{!-- SAVED GAMES LIST --}}	
    {{>saved}}	
  </div>	
</section>	

<footer class='container'>	
    <div>	
        <img class="img-fluid" src="/images/tree.png" height="400px">	
    </div>	
</footer>	

  <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
