<section>	
  <div>	
    <h3 class="text-left text-light">{{username}}'s dashboard</h3>	
  </div>	
  <div>	
    {{>test-new-story}}	
  </div>	
  <div>	
    {{!-- SAVED GAMES LIST --}}	
    {{>test-saved}}	
  </div>	
</section>	

<footer class='container'>	
    <div>	
        <img class="img-fluid" src="/images/tree.png" height="400px">	
    </div>	
</footer>	
