<form id='back-btn'>
  <div class="text-center">
  <h2 class="text-light">`Wow, what a wild ride! Lets not do that again!`</h2>
  <br><br>
  {{! future dev, allow user to post a comment and share their story }}
  <h3 class="text-light">{{title}}</h3>
  <p class="text-light">{{story_line}}</p>
  <br><br>
  <button id="back-btn" class="btn btn-md mb-3 text-light" style="background-color: skyblue;" type="submit">dashboard</button>
</div>
</form>


<script src='/js/end.js'></script>