<div>
  <h3>`Wow, what a wild ride! Lets not do that again!`</h3>
  {{! future dev, allow user to post a comment and share their story }}
  <h4>{{title}}</h4>
  <p>{{story_line}}</p>
</div>
<script src='/js/end.js'></script>