<section class="text-center">
    <img class="rounded img-fluid" src="/images/blurb.png" height="400px">
    <br><br><br>
    <button type="submit" class="btn btn-md mb-3 text-light text-center" style="background-color: purple;"><a class="link text-light" href="/dashboard">join the adventure</a></button>
</section>

<footer class='container'>
    <div>
        <img class="img-fluid" src="/images/dragon.png" height="400px">
    </div>
</footer>


{{!-- make homepage scrollable with *about the team* and *about the campaign*? --}}