{{!-- detail in partial view --}}
<article class="story">
    {{#each story as |story| }}
        {{!-- will check data name for story --}}
        {{!-- partials view --}}
        {{> home-detail story}}
    {{/each}}
</article>

<footer class='container'>
    <div>
        <img class="rounded img-fluid w-100" src="/images/dragon.png" height="400px">
    </div>
</footer>


{{!-- make homepage scrollable with *about the team* and *about the campaign*? --}}