{{!-- detail in partial view --}}
<article class="story">
    {{#each story as |story| }}
        {{!-- will check data name for story --}}
        {{!-- partials view --}}
        {{> home-detail story}}
    {{/each}}
</article>

{{!-- footer or in another article? --}}
<div>
    <img class="rounded img-fluid w-100" src="/images/home.png" height="400px">
</div>


{{!-- make homepage scrollable with *about the team* and *about the campaign*? --}}