<main class="form-landing text-center">
  <form id="landing-form">

    {{!-- landing page blurb --}}
    <div class="container mx-auto">
      <br><br>
      <img class="rounded img-fluid w-100" src="/images/landing1.png" height="400px">
      <button class="w-10 btn btn-md mt-5 mb-3 text-light" style="background-color: orange;" type="submit">enter</button>
      <img class="rounded img-fluid w-100" src="/images/landing2.png" height="400px">
    </div>
    
  </form>
</main>


<script src="/js/landing.js"></script>