<main class="form-landing text-center">
  <form id="landing-form">
    <h1 class="h1 mb-3 fw-normal text-light">join the adventure today</h1>

    {{!-- landing page blurb --}}
    <div class="form-floating mb-3">
   
    </div>

    <button class="w-100 btn btn-lg mb-3 text-light" style="background-color: yellow;" type="enter">enter</button>
  </form>
</main>

<script src="/js/landing.js"></script>