<main class="form-signin text-center">
  <form id="login-form">
    <h1 class="h3 mb-3 fw-normal text-light">login</h1> 
    {{!-- will update with image --}}

    {{!-- username & password forms --}}
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="username-login" placeholder="abductee" autofocus="true">
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="password-login" placeholder="probe" autofocus="true">
    </div>

    <button class="w-100 btn btn-lg mb-3 text-light" style="background-color: plum;" type="submit">login</button>
    <a class="login-link text-light" href="/signup">signup</a>
  </form>
</main>

<script src="/js/login.js"></script>